body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
  line-height: 1.75;
  padding: clamp(1rem, 4vi, 2rem);
  margin: 0;
  color: rgb(36, 54, 66);
}

h1 {
  margin-block-start: 0;
  margin-block-end: 2rem;
  line-height: 1.25;
}

.Settings {
  padding: clamp(1rem, 4vi, 2rem);
  background: hsl(210, 33%, 98%);
  border: 0.0625rem solid rgba(0, 0, 0, 0.35);
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

fieldset + fieldset {
  margin-block-start: 1rem;
}

legend {
  font-weight: 600;
  font-size: 1.4rem;
  display: block;
  margin: 0;
  margin-block-end: 0.75rem;
  padding: 0;
  line-height: 1;
}

input {
  margin: 0;
}

input,
select {
  font: inherit;
  padding: 0 0.25em;
  display: block;
  block-size: 2em;
}

[type="text"] {
  inline-size: 2.5em;
  text-align: end;
}

.FormElements {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem 2rem;
}

.FormElements .FormElements {
  gap: 0.5rem 1rem;
}

.FormElements-title {
  display: block;
  margin-block-end: 0.5rem;
}

label {
  display: flex;
  gap: 0.5em;
  align-items: center;
}

.Unit {
  color: hsl(210, 33%, 50%);
}

.Table {
  overflow-x: auto;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  min-inline-size: 100%;
  font-variant-numeric: tabular-nums;
  background: #f7f9fb;
  margin-block-start: clamp(1rem, 4vi, 2rem);
}

th,
td {
  border: 0.0625rem solid rgba(0, 0, 0, 0.35);
  padding: 0.25rem 0.5rem;
  text-align: end;
}

td button {
  appearance: none;
  background: none;
  padding: 0;
  border: 0;
  color: #000;
  cursor: pointer;
  font: inherit;
  text-align: inherit;
  display: block;
  inline-size: 100%;
}

td span {
  white-space: nowrap;
  font-size: 0.75em;
  line-height: 1.4;
  display: block;
}

[data-in-range] {
  background: hsl(var(--hue), 100%, var(--lightness, 80%));
  cursor: default;
}

[data-in-range]:hover {
  --lightness: 90%;
}

[data-in-range="0"] {
  --hue: 0;
}

[data-in-range="1"] {
  --hue: 20;
}

[data-in-range="2"] {
  --hue: 40;
}

[data-in-range="3"] {
  --hue: 120;
}

dialog {
  text-align: start;
  border: none;
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.35);
}

dl {
  display: grid;
  grid-template-columns: auto auto;
  margin: 0;
}

dl div {
  display: grid;
  grid-column: 1 / -1;
  grid-template-columns: subgrid;
}

dt {
  font-weight: 600;
}

.Dialog-divider {
  margin-block-start: 1rem;
  padding-block-start: 1rem;
  border-block-start: 0.0625rem solid #ccc;
}

dialog form {
  display: flex;
  justify-content: end;
  margin-block-start: 2rem;
}

dialog button {
  inline-size: auto;
  background: #172935;
  color: #fff;
  padding: 0.25em 0.75em;
}
